@model CartDto

<form method="post" asp-action="EmailCart">
    <br />

    @if (Model != null && Model.CartDetails != null && Model.CartDetails.Count() > 0)
    {
        <input hidden asp-for="CartHeader.CartHeaderId" />
    }

    <div class="">
        <div class="card border mt-4 container">
            <div class="card-header bg-dark text-light ml-0 row">
                <div class="col-6">
                    <h3 class="text-success">
                        <i class="bi bi-cart"></i>&nbsp;Shopping Cart
                    </h3>
                </div>
                <div class="col-6 text-end">
                    <a asp-action="Index" asp-controller="Home" class="btn btn-outline-warning mt-2 btn-sm">Continue Shopping</a>
                </div>
            </div>
            <div class="card-body">
                <div class="d-none d-lg-block">
                    <div class="row text-info">
                        <div class="col-lg-2">
                        </div>
                        <div class="col-lg-5">
                            Product Detail
                        </div>
                        <div class="col-lg-2">
                            Price
                        </div>
                        <div class="col-lg-2">
                            Quantity
                        </div>
                        <div class="col-lg-1">
                            --
                        </div>
                    </div>
                </div>
                <hr />
                @if (Model != null && Model.CartDetails != null && Model.CartDetails.Count() > 0)
                {
                    @foreach (var detail in Model.CartDetails!)
                    {
                        <div class="row h-100">
                            <div class="col-4 col-md-2 text-center py-2">
                                <img src="@detail.Product!.ImageUrl" class="rounded" width="100%" />
                            </div>
                            <div class="col-8 col-md-5">
                                <h5>@detail.Product!.Name</h5>
                                <div style="font-size:11px">@Html.Raw(detail.Product!.Description)</div>
                            </div>
                            <div class="col-3 col-md-2 pt-md-4" style="font-size:11px">
                                <span style="font-size:17px;">
                                    @string.Format("{0:c}", detail.Product!.Price)
                                </span>
                            </div>
                            <div class="col-3 col-md-2 pt-md-4" style="font-size:11px">
                                <span style="font-size:17px;">@detail.Quantity</span>
                            </div>
                            <div class="col-2 col-lg-1 p-0 pt-lg-4 text-center">
                                <a asp-action="RemoveItem" asp-route-cartDetailsId="@detail.CartDetailsId" class="btn btn-sm btn-danger">
                                    <i class="bi bi-trash-fill"></i>
                                </a>
                            </div>
                        </div>
                    }
                    <hr />
                    <div class="row">
                        <div class="col-6">
                            @if(String.IsNullOrEmpty(Model.CartHeader.CouponCode))
                            {
                                <span>Coupon:</span>
                                <input asp-for="CartHeader.CouponCode" />
                                <button asp-action="ApplyCoupon" type="submit" class="btn btn-sm btn-success">Apply</button>
                            }
                            else
                            {
                                <span>Coupon:</span>
                                <span>@Model.CartHeader.CouponCode</span>
                                <button asp-action="RemoveCoupon" type="submit" class="btn btn-sm btn-success">Remove</button>
                            }
                        </div>
                        <div class="col-6 text-end">
                            <span class="text-danger" style="font-size:21px;">Order Total: @string.Format("{0:c}", Model.CartHeader.CartTotal)</span>
                            @if(Model.CartHeader.Discount > 0)
                            {
                                <br />
                                <span class="text-success">Order Discount: @string.Format("{0:c}", Model.CartHeader.Discount)</span>
                            }
                        </div>
                    </div>
                }
                else
                {
                    <h3 class="text-center">Please, add some items to the cart</h3>
                }
            </div>
            <div class="card-footer row">
                <div class="col-6 col-md-3">
                    <button type="submit" class="btn btn-outline-danger form-control">Email Cart</button>
                </div>
                <div class="col-6 col-md-3 offset-md-6">
                    <button type="submit" disabled class="btn btn-success form-control">Checkout</button>
                </div>
            </div>
        </div>
    </div>
</form>