@model IEnumerable<CouponDto>

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="text-white">Coupon List</h1>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="row pb-3">
            <div class="col-6"></div>
            <div class="col-6 text-end">
                <a class="btn btn-outline-primary" asp-action="CouponCreate"><i class="bi bi-plus-square"></i> Create new coupon</a>
            </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th class="text-warning">Coupon Code</th>
                    <th class="text-warning">Coupon Amount</th>
                    <th class="text-warning">Minimum Amount</th>
                    <th class="text-warning">Actions</th>
                </tr>
            </thead>
            <tbody>
                @if(Model != null)
                {
                    @foreach(var item in Model)
                    {
                        <tr>
                            <td> @item.CouponCode</td>
                            <td> @((item.DiscountAmount).ToString("c"))</td>
                            <td> @((item.MinAmount).ToString("c"))</td>
                            <td>
                                <a asp-action="CouponUpdate" asp-route-couponId="@item.CouponId" class="btn btn-info" title="Update @item.CouponCode">
                                    <i class="bi bi-pencil-square"></i>
                                </a>
                                <a asp-action="CouponDelete" asp-route-couponId="@item.CouponId" class="btn btn-danger" title="Delete @item.CouponCode">
                                    <i class="bi bi-trash"></i>
                                </a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>