@model IEnumerable<ProductDto>

@{
    ViewData["Title"] = "Home Page";
}

<form>
    <div class="container">
        <div class="row">
            @if(Model != null)
            {
                foreach(var product in Model)
                {
                    <div class="col col-md-6 col-lg-4 d-flex align-items-stretch">
                        <div class="p-0 my-3 border rounded">
                            <div class="card">
                                <h3 class="card-title text-white-50 text-center py-2">@product.Name</h3>
                                <img src="@product.ImageUrl" class="card-img-top" />
                                <div class="card-body">
                                    <div class="d-flex justify-content-between py-2">
                                        <span class="text-danger" style="font-size:20px">@string.Format("{0:c}", product.Price)</span>
                                        <span class="badge bg-warning text-white p-2" style="font-size:20px">@product.CategoryName</span>
                                    </div>
                                    <p class="card-text" style="text-align:justify;">@Html.Raw(product.Description)</p>
                                </div>
                                <div class="card-footer" style="background-color: transparent;">
                                    <a asp-action="ProductDetail" asp-route-productId="@product.ProductId" class="btn btn-success form-control">Details</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</form>
